.Principal{
    text-align: justify;
    padding-bottom: 10rem;
}
    .Principal img{
        float: right;
        width: 26.25rem;
        height: 31.25rem;
        padding-left: 3.125rem;
    }

@media only screen and (max-width: 600px){
    h1, h2{
        text-align: center;
    }

    .Principal img{
        float: right;
        width: 250px;
        height: 325px;
        padding-left: 50px;
    }
}