.Principal{
    text-align: justify;
}
    .Principal img{
        float: right;
        width: 500px;
        height: 650px;
        padding-left: 50px;
    }

@media only screen and (max-width: 600px){
    h1, h2{
        text-align: center;
    }

    .Principal img{
        float: right;
        width: 250px;
        height: 325px;
        padding-left: 50px;
    }
}