.inicio__banner{
    display: flex;
    justify-content: center;
    margin: auto;
}

.contenedor__catalogo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    background: #FFE4DE;
}

.contenedor__catalogo-imagen{
    width: 13.6rem;
    height: 14.9rem;
    border-style: solid;
    border-color: #AB7265;
}

.boton__catalogo{
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 0;
}
    .boton__catalogo a{
    text-decoration: none;
    color: #ffffff;
    border: 0.06rem;
    padding: 0.63rem;
    background-color: #f7af9f;
    border-radius: 3.13rem;
    }

.contenedor__conocenos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
}
    .Conoce img{
        float: left;
        width: 26.25rem;
        height: 31.25rem;
        padding-top: 1rem;
        padding-right: 3.125rem;
        padding-left: 10rem;
        padding-bottom: 1rem;
        margin: 0;
    }

.conocenos__titulo{
    margin: 1rem 0;
    text-align: center;
}

.img__container{
    text-align: center;
    justify-content: center;
}

.info__container{
    text-align: center;
}

.boton__conocenos{
    text-decoration: none;
    color: #ffffff;
    border: 0.06rem;
    margin: 1rem 0;
    padding: 0.63rem;
    background-color: #f7af9f;
    border-radius: 3.13rem;
}

@media only screen and (max-width: 700px){
    .Ban img{
        width: 44.3rem;
        height: 15.6rem;
        display: flex;
        margin: auto;
    }
}