*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
}

.Contenedor{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.cabecera{
    width: 100% ;
    position: fixed;
    background: #eeeeee;
}

.cabecera__contenido{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 5%;
}

.cabecera__navegacion--lista{
    display : flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.cabecera__navegacion--lista-item{
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    margin: 0 .2rem;
}

.cabecera__navegacion--lista-item a{
    color : #A19B9A;
    text-decoration : none;
}

.cabecera__navegacion--lista-item:hover {
    background: #f7af9f;
}


.cabecera__logo--img{
    width: 7rem;
    height: 7rem;
}

.cabecera__usuario--contenedor{
    width: 4rem;
    height: 4rem;
    border-radius : 50%;
    background-color: white;
}

.cabecera__usuario--icono{
    width: 4rem;
    height: 4rem;
}

.Menu-Icon{
    display: none;
}


.Navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .Navegacion ul li{
        display: inline-block;
    }

        .Navegacion ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .Navegacion ul li a:hover{
                background: #f7af9f;
            }


.Principal{
    padding-top: 9rem;
    width: 100%;
}

.Pie{
    background: #f7af9f;
    padding: 2rem 0;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .Pie p{
        font-size: 14px;
        margin : 0;
    }

    .Pie a{
        color: white;
        text-decoration: none;
    }


@media only screen and (max-width: 600px){
    .Menu-Icon{
        display: block;
        cursor: pointer;
        padding: 0.5;
    }
        .Menu-Icon img{
            width: 2rem;
            height: 2rem;
        }

    .Navegacion{
        width: 100%;
        margin-top: 1rem;
    }

        .Navegacion ul{
            display: none;
        }

        .Navegacion ul.Mostrar{
            display: block;
        }

            .Navegacion ul li{
                display: block;
            }

                .Navegacion ul li a{
                    display: block;
                    padding: 0.5rem 0;
                    transition: all 0.4s linear;
                    border-radius: 5px;
                }

                    .Navegacion ul li a:hover{
                        background: #f7af9f;
                    }
}