body{
    font-family: Georgia, Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
}

.Contenedor{
    width: 95%;
    max-width: 1020px;
    margin: 0 auto;
}

.Cabecera{
    background: #eeeeee;
    color: white;
    padding: 0.5rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

    .Cabecera a{
        color: #A19B9A;
        text-decoration: none;
    }

        .Cabecera a img{
            width: 7rem;
            height: 7rem;
        }

.Logo-Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Menu-Icon{
    display: none;
}

.Navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .Navegacion ul li{
        display: inline-block;
    }

        .Navegacion ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .Navegacion ul li a:hover{
                background: #f7af9f;
            }

.Principal{
    padding-top: 12rem;
}

.Pie{
    background: #f7af9f;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

    .Pie p{
        font-size: 14px;
    }

    .Pie a{
        color: white;
        text-decoration: none
    }


@media only screen and (max-width: 600px){
    .Menu-Icon{
        display: block;
        cursor: pointer;
        padding: 0.5;
    }
        .Menu-Icon img{
            width: 2rem;
            height: 2rem;
        }

    .Navegacion{
        width: 100%;
        margin-top: 1rem;
    }

        .Navegacion ul{
            display: none;
        }

        .Navegacion ul.Mostrar{
            display: block;
        }

            .Navegacion ul li{
                display: block;
            }

                .Navegacion ul li a{
                    display: block;
                    padding: 0.5rem 0;
                    transition: all 0.4s linear;
                    border-radius: 5px;
                }

                    .Navegacion ul li a:hover{
                        background: #f7af9f;
                    }
}