.contenedor__conocenos{
    display: grid;
    margin-bottom: 1rem;
}
.conocenos__titulo{
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.contenedor__conocenos-img{
    display: inline-block;
    text-align: center;
}
.contenedor__conocenos-img img{
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.strong-info{
    display: block;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1rem;
}

@media only screen and (max-width: 600px){
    h1, h2{
        text-align: center;
    }

    .Principal img{
        float: right;
        width: 15.63rem;
        height: 20.31rem;
        padding-left: 3.13rem;
    }
}