.contenedor__conocenos{
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
}
.conocenos__titulo{
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.contenedor__conocenos-info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}

.contenedor__conocenos-info p{
    padding: 0 1.5rem;
}

.img-conocenos{
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    justify-self: center;
    align-self: center;;
}

.strong-info{
    display: block;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1rem;
}

@media only screen and (max-width: 900px){
    .contenedor__conocenos-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr minmax(min-content, auto);
        justify-content: center;
    }

    .contenedor__conocenos-info p{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px 40px;
    }
    .img-conocenos1{
        justify-self: right;
        margin-right: 5%;
        width: 140px;
        height: 140px;
    }
    .img-conocenos2{
        justify-self: left;
        margin-left: 5%;
        width: 140px;
        height: 140px;
    }
}

