body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center; 
    background-image: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.contenedor_inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    width: 35%;
    height: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid;
    border-width: 0.15em;
    border-color:gray;
    padding: 0 3rem;
}

.contenedor_inicio-info{
    display: flex;
    flex-direction: column;
}

.informacion{
    display: flex;
    flex-direction: column;
}

.info{
    /* width: 75%;
    height: 5rem; */
    padding-top: 22px;
}

.informacion input{
    width: 100%;
    height: 2.5rem;
    border: none;
    font-family: Georgia, Times, serif;
}

.logo{
    width: 14rem;
    height: 14rem;
}

.politicas{
    padding-top: 2rem;
}

.botones{
    margin: 1rem;
    padding: 1rem;
}

.botones a{
    text-decoration: none;
    color: #f7af9f;
    border: solid;
    border-width: 0.15em;
    border-color:#f7af9f;
    padding: 0.63rem;
    background-color: #ffffff;
    width: 10rem;
    line-height: 1;
}
